<ifModule mod_headers.c>
</ifModule>
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK|OPTIONS)
    RewriteRule .* - [F]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>

<IfModule mod_php7.c>
  	php_value session.gc_maxlifetime 10800
	php_value max_input_time         10800
	php_value max_execution_time     10800
	php_value upload_max_filesize    300M
	php_value post_max_size          300M

</IfModule>
<IfModule mod_env.c>
    # Add security and privacy related headers
    Header set X-frame-options "SAMEORIGIN"
    Header set Content-Security-Policy "defualt-src 'self'"
    Header set Referrer-Policy "strict-orgin-whem-cross-orgin"
    Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    Header edit Set-Cookie ^(.*)$ $1;SameSite='Strict'
    Header edit Set-Cookie ^(.*)$ $1;HttpOnly
    Header set X-Content-Type-Options "nosniff"
    Header set X-XSS-Protection "1; mode=block"
    #Header set X-Robots-Tag "none"
    #Header set X-Download-Options "noopen"
    #Header set X-Permitted-Cross-Domain-Policies "none"
    #Header set Referrer-Policy "no-referrer"
    #SetEnv modHeadersAvailable true
  </IfModule>
