#tree ul.nav ul,
#tree ul.nav ul li {
    margin-top: 1px;
    margin-bottom: 1px;
}
#tree ul.nav ul {
    padding-left: 0;
    width: auto;
}
#tree ul.nav ul.children {
    padding-left: 12px;
	padding-top:1px;
    width: auto;
}
#tree ul.nav ul.children li{
    margin-left: 0px;
}
#tree ul.nav li.parent a {
    padding: 0px;
}
#tree ul.nav li.parent ul li a {
    display:block;
    padding-left: 5px;    
}
#tree ul.nav li .sign {
    display: inline-block;
	width:8px;
}
#tree ul.nav li .lbl {
	padding-left:4px;
}
#tree ul.nav li .lbl:hover {
	color: #c25700;
}