body{
	background:url(../../images/Background-light-grey.jpg)
}
.login-container{
	width:320px;
	margin:100px auto;
}
.logo-block{
	text-align:center
}
.small-anchor{
	font-size: 12px;
    cursor: pointer;
}
.error{
    padding-bottom: 10px;
    font-size: 12px;
    color: #ff0000;
}	